#ui-resources-bar{
    background-color: lightblue;
    padding-left: 23px;
}

#ui-helpers-container{
    background-color: lightblue;
    height: 100%;
    overflow-y: scroll;
}

.ui-helpers-list{
    list-style-type: circle;
}