#ui-resources-bar{
    background-color: lightblue;
    padding-left: 23px;
    /*display: inline-block;*/    
}

#ui-helpers-container{
    background-color: lightblue;
    height: 100%;    
}

#ui-play-area{
    border: solid 1px black;
    background-color: grey;
    width: 100%;
    height: 100%;
}

/*
* HELPERS
*/

#ui-helpers-list{
    border: solid 1px red;    
    list-style-type: circle;    
}

.ui-helper-list-element{
    border: dashed 1px black;
    margin: 3px;
    border-collapse: collapse;    
}